#div0{
	width: 350px;
	height: auto;
	position: relative;
	margin-left: 40%;
	margin-top:50px;
	 }

	 div0:before,div0:after {
	 	display: block;
	 	width: 350px;
		height: auto;
		position: relative;
		margin-left: 40%;
		margin-top:50px;
	 }