#div1{width:600px;
	height:500px;
	background:red;
	margin:25% ;
	position:absolute;}
#div2{width:400px;
	height:300px;
	background:green;
	margin:17%;
	position:; }
#div3{width:200px;
	height:100px;
	background:black;
	margin:15%;
	position:absolute;   }